@import './index.css';

.App {
  font-family: var(--font-base);
  background-color: var(--primary-color);
}

.app__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
}